<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoWs Asteroids</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            padding: 20px;
            color: #fff;
            text-align: center;
        }
        header nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }
        header nav ul li {
            margin-right: 20px;
        }
        header nav ul li:last-child {
            margin-right: 0;
        }
        header nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            transition: color 0.3s ease;
        }
        header nav ul li a:hover {
            color: #ccc;
        }
        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }
        h1 {
            color: #000000;
            text-align: center;
        }
        p {
            text-align: center;
            color: #666;
            line-height: 1.6;
        }
        form {
            text-align: center;
            margin-top: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            color: #004080;
        }
        input {
            padding: 8px;
            margin-bottom: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #004080;
            color: #fff;
            padding: 8px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #002633;
        }
        #asteroidResults {
            background-color: #fff;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
        #asteroidResults ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: left;
        }
        #asteroidResults ul li {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
        }
        #asteroidResults ul li:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        #asteroidResults ul li strong {
            display: block;
            margin-bottom: 5px;
            color: #004080;
        }
        #infoMessage {
            color: #808080;
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/asteroids">Asteroids info</a></li>
                <li><a href="/apod">NASA</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/adminpanel">Admin Panel</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div id="contentContainer">
        <h1>Nearest Asteroids</h1>
        <p>Asteroids for today are displayed. Choose a date <br> or a range of dates on the calendar you want. The selected range should not exceed 7 days.</p>
        <form id="asteroidSearchForm" action="/asteroids" method="GET">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required>
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required>
            <button type="submit">Search</button>
        </form>
        <% if (asteroids && asteroids.length > 0) { %>
            <div id="asteroidResults">
                <ul>
                    <% asteroids.forEach(function(asteroid) { %>
                        <li>
                            <strong>Name:</strong> <%= asteroid.name %><br>
                            <strong>ID:</strong> <%= asteroid.id %><br>
                            <strong>Closest Approach Date:</strong> <%= asteroid.closestApproachDate %><br>
                            <strong>Miss Distance:</strong> <%= asteroid.missDistance.kilometers %> kilometers
                        </li>
                    <% }); %>
                </ul>
            </div>
        <% } else { %>
            <p id="infoMessage">No asteroids found for the specified date range.</p>
        <% } %>
    </div>
    <footer>
        <p>Aidana Ibrayeva SE-2203</p>
    </footer>
</body>
</html>