<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f1f1f1;
            margin: 0;
            padding-bottom: 50px; /* Добавленное пространство внизу страницы для footer */
        }
        header {
            background-color: #1a1a1a;
            padding: 20px;
            color: #fff;
        }
        header nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        header nav ul li {
            display: inline;
            margin-right: 20px;
        }
        header nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
        header nav ul li a:hover {
            color: #ccc;
        }
        h3 {
            color: #333;
            text-align: center;
            margin-top: 40px;
        }
        form {
            text-align: center;
            margin-bottom: 40px;
            max-width: 400px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        form label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        form input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        form button {
            background-color: #1ccd54;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        form button:hover {
            background-color: #1ccd54;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        ul li {
            margin-bottom: 15px;
        }
        .password-toggle-btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 6px 12px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>

<body class="bg-light vh-100">
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/asteroids">Asteroids info</a></li>
                <li><a href="/apod">NASA</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/adminpanel">Admin Panel</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mt-5">
                <div class="card rounded-3">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Login</h3>
                        <form action="/login" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control rounded-3" id="username" name="username" required>
                            </div>
                            <!-- <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control rounded-3" id="email" name="email" required>
                            </div> -->
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control rounded-3" id="password" name="password" required>
                                <button class="password-toggle-btn" type="button" id="showPasswordBtn">Show</button>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary rounded-3">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    </div>
    <footer>Aidana Ibrayeva SE - 2203</footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (error) { %>
        <script>
            Swal.fire({
                title: "An error occured!",
                text: "<%= error %>",
                icon: "error"
            });
        </script>
    <% } %>
    <script>
        const showPasswordBtn = document.getElementById('showPasswordBtn');
        const passwordInput = document.getElementById('password');

        showPasswordBtn.addEventListener('click', () => {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                showPasswordBtn.textContent = 'Hide';
            } else {
                passwordInput.type = 'password';
                showPasswordBtn.textContent = 'Show';
            }
        });
    </script>
</body>
</html>